.fase {
  height: 100vh;
  min-height: 100%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;     
  display: flex;   
  flex-direction: column;
  overflow: auto;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase; 
  opacity: 1;
  transition: all .3s;
  cursor: pointer;
}

#settings {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.component-appear {
  -ms-transform: translateY(-700px);
  -webkit-transform: translateY(-700px);
  transform: translateY(-700px);
}

.component-appear.component-appear-active {
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: all .7s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.component-enter {
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.component-enter.component-enter-active {
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition: all .3s linear;
}


@media screen and (min-width: 1024px) {
  .component-enter {
    -ms-transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}