.fase.level button {
  width: 100%;
  height: 33.3%;
  color: #fff;
  font-size: 50px;
}

.fase.level.speaking button {
  background-color: #5d1ec9;
}

.fase.level.drawing button {
  background-color: #1dc95c;
}

.fase.level.pantomima button {
  background-color: #c91d40;
}