.fase.activity button {
  height: 33.33%;
  color: #ffffff;
  font-size: 50px;
  width: 100%;
  flex-grow: 1;
}

.fase.activity button > img,
.fase.activity button > span {
  vertical-align: middle;
  margin: 0 5px;
}

.fase.activity #speaking {
  background-color: #5d1ec9;
}

.fase.activity #drawing {
  background-color: #1dc95c;
}

.fase.activity #pantomima {
  background-color: #c91d40;
}