.fase.level button {
  height: 33.33%;
  width: 100%;
  color: #fff;
  font-size: 50px;
  flex-grow: 1;
}

.fase.level.speaking button {
  background-color: #5d1ec9;
}

.fase.level.drawing button {
  background-color: #1dc95c;
}

.fase.level.pantomima button {
  background-color: #c91d40;
}

.fase.level #intermediate {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}