.settings {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  z-index: -1;
  display: none;
  user-select: none;
  cursor: default;
}

.settings h2  {
  text-transform: uppercase;
  font-size: 30px;
}

.settings h3 {
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: lighter;
}

.settings p  {
  margin: 0;
}

.settings.show {
  display: block;
  opacity: 0.9;
  pointer-events: auto;
  z-index:99999;
}

.settings .modal {
  background-color: #fff;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0px;
}

.settings .close {
  background-color: #c91d40;
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.settings select {
  height: 34px;
  background-image: none;
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (min-width: 60em) {
  .settings .modal {
    height: 65%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 66em;
    width: 85%;
    border-radius: 5px;
  }
  .settings select {
    width: 250px;
  }
}