.fase.start h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.fase.start h2 {
  font-size: 20px;
}

.fase.start button {
  width: 80%;
  min-height: 120px;
  color: #fff;
  font-size: 50px;
  border-radius: 20px;
}

.fase.start.speaking.counting,
.fase.start.speaking button {
  background-color: #5d1ec9;
  color: #fff;
  transition: all .5s;
}

.fase.start.drawing.counting,
.fase.start.drawing button {
  background-color: #1dc95c;
  color: #fff;
  transition: all .5s;
}

.fase.start.pantomima.counting,
.fase.start.pantomima button {
  background-color: #c91d40;
  color: #fff;
  transition: all .5s;
}

.fase.start span {
  font-size: 100px;
  color: #fff;
}